<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

  <title>My CV</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

  <meta name="keywords" content=""/>
  <meta name="description" content=""/>

  <link rel="stylesheet" type="text/css" href="resume.css" media="all"/>

</head>
<body>

<div id="doc2" class="yui-t7">
  <div id="inner">

    <div id="hd">
      <div class="yui-gc">
        <div class="yui-u first">
          <h1>NGUYEN VIET TUNG</h1>
          <h2>FRONTEND DEVELOPER</h2>
        </div>

        <div class="yui-u">
          <div class="contact-info">
            <h3><a id="pdf" href="/Tung-Nguyen_Frontend_Developer.pdf">Download PDF</a></h3>
            <h3><a href="mailto:nguyentungkoa@gmail.com">nguyentungkoa@gmail.com</a></h3>
            <h3>(+84) 948899425</h3>
          </div><!--// .contact-info -->
        </div>
      </div><!--// .yui-gc -->
    </div><!--// hd -->

    <div id="bd">
      <div id="yui-main">
        <div class="yui-b">

          <div class="yui-gf">
            <div class="yui-u first">
              <h2>Profile</h2>
            </div>
            <div class="yui-u">
              <p class="enlarge">
                I am a Front-End Developer with 4 years of experience. Skilled in cross-browser web development, hybrid
                app development, clean coding. I always try to create website interface with meticulousness and good
                performance. Angular is the framework I have the most experience with about 2 years. Learning new
                languages and technologies is what I am passionate about.
              </p>
            </div>
          </div><!--// .yui-gf -->

          <div class="yui-gf">
            <div class="yui-u first">
              <h2>Skills</h2>
            </div>
            <div class="yui-u">

              <div class="talent">
                <h2>Programming</h2>
                <p>HTML, CSS, SCSS, JavaScript, TypeScript</p>
              </div>

              <div class="talent">
                <h2>Frameworks, Libraries</h2>
                <p>Angular, ReactJs, Jquery, Webpack</p>
              </div>

              <div class="talent">
                <h2>Other technologies</h2>
                <p>Docker, Git</p>
              </div>
            </div>
          </div><!--// .yui-gf -->

          <!--          <div class="yui-gf">-->
          <!--            <div class="yui-u first">-->
          <!--              <h2>Technical</h2>-->
          <!--            </div>-->
          <!--            <div class="yui-u">-->
          <!--              <ul class="talent">-->
          <!--                <li>XHTML</li>-->
          <!--                <li>CSS</li>-->
          <!--                <li class="last">Javascript</li>-->
          <!--              </ul>-->

          <!--              <ul class="talent">-->
          <!--                <li>Jquery</li>-->
          <!--                <li>PHP</li>-->
          <!--                <li class="last">CVS / Subversion</li>-->
          <!--              </ul>-->

          <!--              <ul class="talent">-->
          <!--                <li>OS X</li>-->
          <!--                <li>Windows XP/Vista</li>-->
          <!--                <li class="last">Linux</li>-->
          <!--              </ul>-->
          <!--            </div>-->
          <!--          </div>&lt;!&ndash;// .yui-gf&ndash;&gt;-->

          <div class="yui-gf">

            <div class="yui-u first">
              <h2>Experience</h2>
            </div><!--// .yui-u -->

            <div class="yui-u">

              <div>
                <div class="job job__first">
                  <h2>F45 modules (1 member)</h2>
                  <!--                <h3>Senior Interface Designer</h3>-->
                  <h4>06/2021 - Present</h4>
                  <p>Build some common modules to inject to F45 websites (Login, Reset password, Trial Form Flow).<br>
                    Technologies: Webpack, Js, ReactJs.<br>
                    Responsibilities:
                  </p>
                  <p style="margin-left: 30px">Investigate old code and rewrite to modules.</p>
                  <div class="company">OFFSPRING DIGITAL</div>
                </div>

                <div class="job">
                  <h2>F45 academy (2 members)</h2>
                  <h4>06/2021 - Present</h4>
                  <p>
                    Web provides online video courses and create certificates for F45 trainers.<br>
                    Technologies: Angular 8<br>
                    Responsibilities:<br>
                  </p>
                  <p style="margin-left: 30px">
                    Communicate via message with customers to clarify requirements.<br>
                    Suggest simple UI/UX for customers.<br>
                    Build structure and interface.
                  </p>
                </div>

                <div class="job job__first">
                  <h2>Plutra Admin (1 member)</h2>
                  <h4>01/2021 - 03/2021</h4>
                  <p>
                    Web manage Plutra’s members.<br>
                    Technologies: ReactJs (Redux, Material UI), Laravel.<br>
                    Responsibilities:<br>
                  </p>
                  <p style="margin-left: 30px">
                    FrontEnd: build structure and build interface of this web based on my ideas.<br/>
                    BackEnd: build structure and create API for feature in FrontEnd.<br/>
                    I created develop environment based on AWS.
                  </p>
                  <div class="company">DEHA SOFTWARE</div>
                </div>
                <div class="job">
                  <h2>Plutra (3 members)</h2>
                  <h4>04/2020 - 12/2020</h4>
                  <p>
                    Web create financial solutions.<br>
                    Technologies: Angular 8(ngrx), Laravel.<br>
                    Responsibilities:<br>
                  </p>
                  <p style="margin-left: 30px">
                    FrontEnd: develop new feature use Material UI.<br>
                    BackEnd: create Docker and create API for new feature in FrontEnd.<br>
                    Moreover I created develop environment based on AWS.<br>
                  </p>
                  <p>Application references: https://www.plutra.com/</p>
                </div>

                <div class="job">
                  <h2>Travel planning (6 members)</h2>
                  <h4>08/2019 - 07-2020</h4>
                  <p>
                    Web travel planning on landmarks in Japan.<br>
                    Technologies: Angular 6(state management with service).<br>
                    Responsibilities:
                  </p>
                  <p style="margin-left: 30px">
                    Build smartphone, pc interface and create map with routes, places.
                  </p>
                  <p>Application references: https://www.driveconsultant.jp/</p>
                </div>

                <div class="job">
                  <h2>Epark Digital (5 members)</h2>
                  <h4>08/2019 - 07-2020</h4>
                  <p>
                    Multi-platform app help users to find suitable medical facilities.<br>
                    Technologies: AngularJs, Cordova.<br>
                    Responsibilities:
                  </p>
                  <p style="margin-left: 30px">
                    Build interface of this web app.
                  </p>
                </div>

                <div class="job last">
                  <h2>Work as internship C++ in FPT Software</h2>
                </div>
              </div>

            </div><!--// .yui-u -->
          </div><!--// .yui-gf -->


          <div class="yui-gf">
            <div class="yui-u first">
              <h2>Education</h2>
            </div>
            <div class="yui-u">
              <h2>Hanoi University of Science and Technology</h2>
              <h3>Major: Electronics and Communication</h3>
              <h4>09/2015 - 06/2019</h4>
            </div>
          </div><!--// .yui-gf -->

          <div class="yui-gf last">
            <div class="yui-u first">
              <h2>Hobbies</h2>
            </div>
            <div class="yui-u">
              <h2>Cafe, Running</h2>
            </div>
          </div><!--// .yui-gf -->

        </div><!--// .yui-b -->
      </div><!--// yui-main -->
    </div><!--// bd -->
  </div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

