.item {
  cursor: pointer;
}

.subItem {
  cursor: pointer;
  padding-left: 28px!important;

  &:hover {
    background: #d5d5d5;
  }

  &.active {
    background: #d5d5d5;
  }
}

.wrapper {
  //display: flex;
  //justify-content: space-between;
  //flex-wrap: wrap;
}