.example-spacer {
  flex: 1 1 auto;
}

mat-card {
  min-height: 100px; /* Adjust the height as needed */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

mat-card-header {
  //background-color: #3498db; /* Adjust the color as needed */
  //color: white;
}

mat-card-title {
  font-size: 16px;
}
