@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/GothamBlack.eot");
  src: url("./assets/fonts/GothamBlack.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/GothamBlack.woff2") format("woff2"), url("./assets/fonts/GothamBlack.woff") format("woff"), url("./assets/fonts/GothamBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/Gotham-Bold.eot");
  src: url("./assets/fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Gotham-Bold.woff2") format("woff2"), url("./assets/fonts/Gotham-Bold.woff") format("woff"), url("./assets/fonts/Gotham-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./assets/fonts/gotham-medium.eot');
  src: url('./assets/fonts/gotham-medium.eot?#iefix') format('embedded-opentype'),  url('./assets/fonts/gotham-medium.woff') format('woff'), url('./assets/fonts/gotham-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./assets/fonts/Gotham-Light.eot');
  src: url('./assets/fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/Gotham-Light.woff2') format('woff2'), url('./assets/fonts/Gotham-Light.woff') format('woff'), url('./assets/fonts/Gotham-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Book";
  src: url("./assets/fonts/Gotham-Book.eot");
  src: url("./assets/fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Gotham-Book.woff2") format("woff2"), url("./assets/fonts/Gotham-Book.woff") format("woff"), url("./assets/fonts/Gotham-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Condensed';
  src: url('./assets/fonts/GothamCondensed-Bold.eot');
  src: url('./assets/fonts/GothamCondensed-Bold.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/GothamCondensed-Bold.woff2') format('woff2'), url('./assets/fonts/GothamCondensed-Bold.woff') format('woff'), url('./assets/fonts/GothamCondensed-Bold.ttf') format('truetype'), url('./assets/fonts/GothamCondensed-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
